<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/css/styleFin.css" />

</head>

<body>
<h1>Страница добавления пользователя</h1>


<form method="POST" action="/User">
    <label>Ввеите ID пользователя: </label>
    <input type="text" name="id"><br>
    <label>Ввеите имя пользователя:  </label>
    <input type="text" name="name"><br>
    <label>Ввеите возраст пользователя:</label>
    <input type="text" name="age"><br>
    <input type="submit" value="Добавить пользователя"><br>
</form>
<hr>
</body>
</html>