<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/css/styleFin.css" />

</head>

<body>
<h1>Страница управления пользователями</h1>

<form method="GET" action="finance">
    <input type="submit" value="Показать список пользователей"><br>
    <input type="submit" value="Добавить пользователя"><br>
    <input type="submit" value="Удалить пользователя"><br>
    <input type="submit" value="Изменить пользователя"><br>
    <hr>
</form>
</body>
</html>